{% extends 'layout.twig' %}

{% block content %}

<div class="clearfix">
	<div class="col col-3">
		<button id="simulate">Simulate</button>
	</div>
</div>
<div class="clearfix">
  <div class="col col-3">
  	<h3 class="center">Marketing Leads Generated</h3>
  	<canvas id="marketingCumulative" width="200" height="200"></canvas>

  </div>
  <div class="col col-3">
  	<h3 class="center">Marketing Leads Monthly</h3>
  	<canvas id="marketingMonthly" width="200" height="200"></canvas>
  </div>
</div>

<div class="clearfix">

	 <div class="col col-3">
  		<h3 class="center">Referral Hit/Miss Ratio</h3>
  		<canvas id="referalHitMiss" width="200" height="200"></canvas>
  	</div>
  	
  	<div class="col col-3">
  		<h3 class="center">Advertising Hit/Miss Ratio</h3>
  		<canvas id="advertisingHitMiss" width="200" height="200"></canvas>
	</div>
  	
  	<div class="col col-3">
  		<h3 class="center">In Person Hit/Miss Ratio</h3>
  		<canvas id="InPersonHitMiss" width="200" height="200"></canvas>
	</div>
</div>

<div class="clearfix">

  <div class="col col-3">
      <h3 class="center">Marketing Delays</h3>
      <canvas id="marketingDelaysCumulative" width="200" height="200"></canvas>
  </div>

  <div class="col col-3">
      <h3 class="center">Marketing Delays Monthly</h3>
      <canvas id="marketingDelaysMonthly" width="200" height="200"></canvas>
  </div>

</div>

{% endblock %}

